<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482807966487-bmf096hv6mrv2mf9fj36nfmb28n5bs97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482807966487-bmf096hv6mrv2mf9fj36nfmb28n5bs97</string>
	<key>API_KEY</key>
	<string>AIzaSyBGUkr-mXzXgPaCAnlKmegU95Uw2_jzJfo</string>
	<key>GCM_SENDER_ID</key>
	<string>482807966487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a7mdmosa.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dee7f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dee7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482807966487:ios:2fa1b3e804b99b5be42552</string>
</dict>
</plist>